<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" >
 <head>
 <meta http-equiv="content-type" content="text/html;charset=utf-8">
     <title>SkyGuard 内部威胁防护领导者</title>
     <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
     </head>
  <body>
  <div class="container" >
        <h1>天空卫士上网环境安全检查</h1>
        <nav class="navbar navbar-inverse" style="display:none;">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
           </div>
           <div id="navbar-menu" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="#">安全预审查</a></li>
                   <li><a href="#">恶链测试</a></li>
                   <li><a href="#">病毒测试</a></li>
                   <li><a href="#">邮件测试</a></li>
                   <li><a href="#">其他批量测试</a></li>
               </ul>
           </div>
        </nav>
    </div>
 <div id="loadResult" style="background-color:#EFEFF0; display:flex; min-height:85vh;">
 <div class="container" style="display:flex; padding: 35px 0px 15px 0px;">
  <div  style="width:100%; text-align:left; font-size: 18px; color: #2A2C30; font-weight:500;">
    
    
  <div class="container" style="display:flex; padding: 35px 0px 15px 0px;">
  ALL_SUMMARY_TITLE999
  <div id="showTestFilter" style="width:33%; text-align:right;  margin-top:-8px; display:none;" >
  <button id="showAllTest" type="button" class="btn btn-link" style="font-size: 13px; color: #2A2C30; text-decoration: none" disabled>Show All Tests</button> |
  <button id="showFailTest" type="button" class="btn btn-link" style="font-size: 13px; color: #009CDA; text-decoration: none" disabled>Show Failed Tests</button>
  </div>
  </div>

<!--  Testresult -->
<div class="container" style="padding:0; box-shadow: 0 0px 6px -1px rgb(226, 226, 226); border-radius: 5px;">
  <div id="row">
	TNEMSSESSA_YTIRUCES_SUMMARY999
	
	TNEMSSESSA_NOITCETORP_ATAD_SUMMARY999
	
	SUMMARY_ALL_RESULT999

  </div>


</div>

<div id="loadResultDiv" class="container" style="padding:0;">
NOITNEVERP_TAERHT_SUMMARY888
  <div id="threatPreventionDivider" class="container" style="border-bottom: 1px solid #ccc; margin:15px auto; display:none;">
  </div>

  <div id="threatPreventionBlock">
    <div id="threatPreventionLabels" style="display:none; padding: 16px 12px 8px 12px; color: #939393">
    </div>
    <div id="threatAll" class="container">
    THREAT_PREVENTION_RESULT888
    </div>
    <div id="threatFail"></div>
    <div id="threatPass"></div>

  </div>
  <div id="threatPreventionClearfloat" style="min-height:18px"></div>

LORTNOC_SSECCA_SUMMARY888

  <div id="accessControlDivider" class="container" style="border-bottom: 1px solid #ccc; margin:15px auto; display:none;">
  <!-- add access control divider here -->
   </div>

  <div id="accessControlBlock">
  <div id="accessControlLabels" style="display:block; padding: 16px 12px 8px 12px; color: #939393">
   </div>
 
  <div id="accessAll" class="container">
   ACCESS_CONTROL_RESULT888
    </div>
  
  </div>
  <div id="accessFail"></div>
  <div id="accessPass"></div>
  </div>

  <div id="accessControlClearfloat" style="min-height:18px"></div>


NOITCETORP_ATAD_SUMMARY888

  <div id="dataprotectionBlock">
 <div id="dataprotectionLabels"  style="display:none; padding: 16px 12px 8px 12px; color: #939393;" >
 
 </div>
    <div id="dataAll" class="container">
    DATA_PROTECTION_RESULT888
    </div>
</div>
  <div id="dataFail"></div>
  <div id="dataPass"></div>
  </div>
  
  <form id='cosform' action='/cosform' method='post' onsubmit='return checkForm()' style="display:None">
    <input type='text' name='url' value=''/>
    <!-- input type='password' name='pwd' value ='' -->
    <button type='submit'>提交<button/>
  <form/>
</div>
</div>




  </body>
 </html>